<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta name ="description" content ="Going Out not a must">
  <meta name ="keywords" content ="E-Pin">
  <meta name ="author" content ="Unit Cafe">
    <!-- Site Metas -->
    {% load static %}
    <link rel="" href="{% static 'glyphicons-halflings-regular.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static '' %}" type="images/x-icon" />
     <title>
       {% block title %}{% endblock %}
      </title>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            Unit Cafe
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feature
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Buy E-Pin</a></li>
              <li><a class="dropdown-item" href="#">Pay Nepa Bill</a></li>
              <li><a class="dropdown-item" href="#">Make Payement</a></li>
              <li><a class="dropdown-item" href="#">Weac Checker Pin</a></li>
              <li><a class="dropdown-item" href="#">Decoder Subscription</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              About Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock %}

  <footer class="bg-primary">
    Made By Brilliant Makanju <br>
    Unit Cafe |Homepage
  </footer>
</body>
</html>