<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta name ="description" content ="Going Out not a must">
  <meta name ="keywords" content ="E-Pin">
  <meta name ="author" content ="Unit Cafe">
    <!-- Site Metas -->
    {% load static %}
    <link rel="" href="{% static 'glyphicons-halflings-regular.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static '' %}" type="images/x-icon" />
     <title>
       {% block title %}{% endblock %}
      </title>
  </head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: cadetblue; user-select: none;">
    <div class="container-fluid">
      <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            Unit Cafe
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feature
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: cornflowerblue;">
              <li><a class="dropdown-item" href="#">Buy E-Pin</a></li>
              <li><a class="dropdown-item" href="#">Pay Nepa Bill</a></li>
              <li><a class="dropdown-item" href="#">Make Payement</a></li>
              <li><a class="dropdown-item" href="#">Weac Checker Pin</a></li>
              <li><a class="dropdown-item" href="#">Decoder Subscription</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              About Us
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger" href="#" tabindex="-1" aria-disabled="true">
              Logout 
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-success" href="#" tabindex="-1" aria-disabled="true">
              Signup 
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock %}

  <!-- Remove the container if you want to extend the Footer to full width. -->
  <footer class="text-white text-center text-lg-start bg-primary">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row ">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti.
        </p>

        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-whatsapp"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-google-plus"></i></a>
          <!--  -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Contact</h5>
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Osun, Nigeria</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">unitcafe4@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+2348068833068</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+2348068833068</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 7pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 7am</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://unitcafe.pythonanywhere.com">Unit Cafe</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->
</body>
</html>