{% extends 'Exten/Base.html' %}
{% block content %}
<div class="container-fluid">
    <!--Row with two equal columns-->
    <div class="row">
        <div class="col">Column one</div>
        <div class="col">Column two</div>
    </div>
    
    <!--Row with three equal columns-->
    <div class="row">
        <div class="col">Column one jdjdhjhdhhgdhdhdh</div>
        <div class="col">Columnnmdjdhdhddhdhdhd two</div>
        <div class="col">Columnndhdhdhdhdhh three</div>
    </div>
</div>
{% endblock %}